{% extends "base_generic.html" %}
{% load format_phone %}
{% load split_string %}

{% block author %}
Steve Smith
{% block author %}

{% block title %}
<title>Steve Smith</title>
{% endblock %}

{% block content %}
  <div class='container'>
    <!-- Name and Contact Info -->
    <h2 class='applicant_name'>{{ full_name }}</h2>
    <div class='contact_info'>
      <div>{{ contact.city }}, {{ contact.state }}</div>
      <div>{{ contact.phone_number|format_phone }}</div>
      <div>{{ contact.email }}</div>
    </div>
    <br/>
    <!-- Education Section -->
    <div class='education'>
      <h3>Education</h3>
      {% for entry in education %}
        <h4 style="text-align: left;">
          {{ entry.school }} 
          <span style="float: right;">
            {{ entry.graduation_date }}
          </span>
        </h4>
          <div>{{ entry.degree }}, GPA: {{ entry.gpa }}</div>
          <ul> {% for line in entry.education_body|split_string %}
                <li>{{ line }}</li>
              {% endfor %}
          </ul>
          {% endfor %}
    </div>
    <!-- Employment Section -->
    <div class='employment'>
      <h3>Employment</h3>
      {% for entry in employment %}
      <h4 style="text-align: left;">
        {{ entry.company }} 
        <span style="float: right;">
          {{ entry.start_date }} - {{ entry.end_date }}
        </span>
      </h4>
        <div>{{ entry.position }}</div>
        <ul> {% for line in entry.employment_body|split_string %}
              <li>{{ line }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    <!-- Other Sections -->
    <div class='other'>
      {% for entry in other %}
        <h3 class='section_title'>{{ entry.section_title }}</h3>
        <ul> {% for line in entry.section_body|split_string %}
              <li>{{ line }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div> 
  </div>
{% endblock %}

{% block projects %}
  <!-- Start Projects Include Loop -->

  <div>
  <div class="col-xs-12 col-sm-6 col-md-6 header-text">
    <h2 class="wow bounceIn animated" data-wow-delay=".40s">
      Highlighted Projects
    </h2>
    {% for project in my_projects %}
        <br/>
        <h3 class="wow bounceIn animated" data-wow-delay=".50s" style="text-align: left; margin: auto; width: 300px;">- {{ project.title }}</h3>
    {% endfor %}
  </div> 
  </div>
  {% for project in my_projects %}
    <div>      
    <div class="col-xs-12 col-sm-6 col-md-6 header-text">
              <h2 class="wow bounceIn animated" data-wow-delay=".40s">                
                {% for word in project.title|upper|split_string:" " %}        
                  <br/>
                  {{ word }}
                {% endfor %}
              </h2>
              <h3 class="wow bounceIn animated" data-wow-delay=".50s">{ {{ project.languages }} } <br/> {{ project.technologies }}</h3>
              <p class="wow bounceIn animated" data-wow-delay=".60s">{{ project.description }}</p>
              {% if project.github_page %}
              <p>
                  <a href="{{ project.github_page }}" target="_blank" class="btn btn-primary btn-lg btn-ornge wow bounceIn animated" data-wow-delay="1s">
                    <i class="hbtn"></i> 
                    <span>GitHub Repo</span>
                  </a>                  
              </p>
              {% endif %}
    </div>               
  </div>
  {% endfor %}
  <!-- End Loop -->
{% endblock %}      

{% block contact_footer %}

  <section class="widget widget_text" id="text-15">
    <div class="textwidget">{{ contact.city }}, {{ contact.state }} {{ contact.country }}<br/>
  <p><i class="fa fa-mobile-alt"></i> {{ contact.phone_number|format_phone }}<br/>
  <i class="fa fa-envelope"></i><a href="mailto: {{ contact.email }}" target="_blank"> {{ contact.email }}</a></p>
  </section>

{% endblock %}